<hr class="divider-footer">
<div class="container-footer">
  <footer class="row footer-hcp" id="footer-hcp">
    <div class="col-md-12">
      <a href="https://risk.lexisnexis.com/copyright" target="_blank" class="footer-link">Copyright</a>
      <span>2022</span>
      <span>LexisNexis Risk Solutions</span>
      <a href="https://risk.lexisnexis.com/terms" target="_blank" class="footer-link">Terms Conditions</a>
      <span class="divider-vertical"></span>
      <a href="https://risk.lexisnexis.com/privacy-policy" target="_blank" class="footer-link">Privacy Security</a>
    </div>
  </footer>
</div>