<div class="container-header">
  <header class="row header-hcp" id="header-hcp" role="banner">
    <div class="header-logo col-md-6 text-left">
      <a class="header-logo-image" href="https://risk.lexisnexis.com/healthcare" target="_blank"></a>
      <span class="divider-vertical-lg"></span>
      <span class="header-logo-title">Health Care Portal</span>
    </div>
    <div class="header-links col-md-6 text-right">
      1.866.396.7703
      <span class="divider-vertical"></span>
      <a href="mailto:healthcareportalsupport@lexisnexis.com" class="container-menu-link">Email Us</a>
      <span class="divider-vertical"></span>
      <a href="https://www.accurint.com/health_care.html" target="_blank" class="container-menu-link">Accurint</a>
      <span class="divider-vertical"></span>
      <a href="https://risk.lexisnexis.com/healthcare" target="_blank" class="container-menu-link">United
        States</a>
      <span class="divider-vertical"></span>
      <a href="https://risk.lexisnexis.com/healthcare" target="_blank" class="container-menu-link">
        <span class="mg-r-5 header-worldmap-image"></span>
        Worldwide
      </a>
    </div>
  </header>
</div>

<nav class="navbar navbar-hcp" id="hcp-nav-bar">
  <ul class="nav navbar-nav navbar-hcp-nav">
    <li class="navbar-is-active ">
      <a href="README.md">Home</a>
    </li>
    <li class=" ">
      <a href="home.html">Spec File</a>
    </li>
  </ul>
  <form id="logout-form" class="pull-right" method="post" action="/adminportal/logout"><input type="hidden" name="_csrf"
      value="ed2bb03f-d92e-4607-99bd-8f123012603f">
    <button class="navbar-hcp-btn" type="button">Log Out</button>
    <input type="hidden" id="timeOut" value="false">
  </form>
  <ul class="nav navbar-nav navbar-account-nav pull-right">
    <li>
      <a href=""><span class="glyphicon glyphicon-user mg-r-5"></span> Account</a>
    </li>
  </ul>
  <div id="menu-data" data-session-idle-time="3600"></div>
  <div id="app-data" data-context-path="/adminportal/"></div>
</nav>